/* line 15, ../../Google Drive/File VS Code/LTW/ProgettiLTW/scss/style.sass */
div.searchDiv {
  background-color: inherit;
  margin: auto;
  /* min-width: 500px */
  width: 100%;
  border: 1px white solid;
  border-radius: 5px;
}

/* line 23, ../../Google Drive/File VS Code/LTW/ProgettiLTW/scss/style.sass */
div.newsletterDiv {
  background-color: inherit;
  min-width: 400px;
  border-radius: 5px;
  padding: 12px;
}

/* line 29, ../../Google Drive/File VS Code/LTW/ProgettiLTW/scss/style.sass */
.btnToSpread {
  width: 100%;
}

/* line 32, ../../Google Drive/File VS Code/LTW/ProgettiLTW/scss/style.sass */
.rowCards {
  height: 14em;
}

/* line 35, ../../Google Drive/File VS Code/LTW/ProgettiLTW/scss/style.sass */
.colSleep {
  background-color: inherit;
}

/* line 39, ../../Google Drive/File VS Code/LTW/ProgettiLTW/scss/style.sass */
.normalCard {
  background-color: white;
  border-color: rgba(12, 12, 12, 0.494);
}
.normalCard span{
  color: #292b2c;
  margin: auto;
  border-bottom: 3px #292b2c solid;
  
}

.activeCard {
  background-color: inherit;
  border-color: white;
}
.activeCard span{
  color: red;
  margin: auto;
  border-bottom: 5px red solid;
}

.dinamicDiv{
  background-color: inherit;
}

.toBeArrotondato{
  border-radius: 10px;
}

.buttone{
  width: 100%;
  height: 100%;
}
/* XXL */
@media screen and (max-width: 1400px){
  .fluidImg{
    width: 100%;
    height: 60%;

  }
}
/* SM */
@media screen and (max-width: 768px){
  .fluidImg{
    width: 100%;
    height: 70%;

  }
}

.fluidImgOrdina{
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .iconUser{
    width: 100%;
    height: auto;

    display: inline-block;
    vertical-align: middle;
  }
}
